body {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: 'Unica One', cursive;
  margin: 0 auto;
}

p {
  font-family: 'Overlock', cursive;
  margin: 0 auto;
  margin-bottom: 5px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-container {
  background: #f1f1f1;
}

.board-container .row {
  display: flex;
}

.tile-container {
  border: solid 4px #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
  border-style: outset;
}

.tile-content {
  font-size: 30px;
  color: #aa3e3e;
  cursor: default;
}

.tile-unexplored {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tile-unexplored:hover {
  background: #fcf6eb;
}
